<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>truyenyy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>58</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9EF87B3CA81DAB691705C7F7CFC95263F5DFE37D</string>
				<key>dateExpires</key>
				<string>02/12/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9EF87B3CA81DAB691705C7F7CFC95263F5DFE37D</string>
						<key>dateExpires</key>
						<string>02/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NB9W4S7JB3</string>
						<key>name</key>
						<string>Vietnovel Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9EF87B3CA81DAB691705C7F7CFC95263F5DFE37D</string>
						<key>dateExpires</key>
						<string>02/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NB9W4S7JB3</string>
						<key>name</key>
						<string>Vietnovel Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9EF87B3CA81DAB691705C7F7CFC95263F5DFE37D</string>
						<key>dateExpires</key>
						<string>02/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NB9W4S7JB3</string>
						<key>name</key>
						<string>Vietnovel Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9EF87B3CA81DAB691705C7F7CFC95263F5DFE37D</string>
						<key>dateExpires</key>
						<string>02/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NB9W4S7JB3</string>
						<key>name</key>
						<string>Vietnovel Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9EF87B3CA81DAB691705C7F7CFC95263F5DFE37D</string>
						<key>dateExpires</key>
						<string>02/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NB9W4S7JB3</string>
						<key>name</key>
						<string>Vietnovel Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>14.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9EF87B3CA81DAB691705C7F7CFC95263F5DFE37D</string>
						<key>dateExpires</key>
						<string>02/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NB9W4S7JB3</string>
						<key>name</key>
						<string>Vietnovel Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9EF87B3CA81DAB691705C7F7CFC95263F5DFE37D</string>
						<key>dateExpires</key>
						<string>02/12/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NB9W4S7JB3</string>
						<key>name</key>
						<string>Vietnovel Corporation</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NB9W4S7JB3.com.truyenyy.apps.official</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:truyenyy.page.link</string>
					<string>applinks:truyenyy.vip</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>NB9W4S7JB3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>NB9W4S7JB3.com.truyenyy.apps.official</string>
					<string>NB9W4S7JB3.com.google.GIDSignIn</string>
				</array>
			</dict>
			<key>name</key>
			<string>truyenyy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8fd01212-1b27-42ea-97fe-4be5067341b1</string>
				<key>dateExpires</key>
				<string>02/12/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.truyenyy.apps.official</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NB9W4S7JB3</string>
				<key>name</key>
				<string>Vietnovel Corporation</string>
			</dict>
			<key>versionNumber</key>
			<string>2023.4.2</string>
		</dict>
	</array>
</dict>
</plist>
